<%+header%>

<style>
    .cbi-map table {
        width: 100%;							/* 表格宽度设置 */
        border-collapse: collapse;				/* 合并为单一边框 */
    }
    .cbi-map th, .cbi-map td {
        border: 1px solid #cccccc;				/* 表格边框设置为灰色 */
        padding: 8px;							/* 表格内边距 */
        text-align: left;						/* 表格文字靠左排列 */
        color: #000000;							/* 表格文字设置为黑色 */
    }
    .cbi-map th {
        background-color: #ff6500;				/* 表头背景设置为橘黄色 */
        color: #ffffff;							/* 表头文字颜色设为白色 */
    }
    .cbi-map .cbi-section-table tr:nth-child(even) {
        background-color: #666699;				/* 表格背景交替设置为紫色 */
    }
    .cbi-map .cbi-section-table tr:nth-child(odd) {
        background-color: #669999;				/* 表格背景交替设置为青色 */
    }
</style>

<div class="cbi-map">
    <h2>基站扫描</h2>
    <div class="cbi-map-descr">
        警告：请勿开机后立刻进行此操作，等待模块空闲时再执行。【执行扫描脚本】 按钮两次点击中间建议间隔为一分钟<br>
        说明：点击 【执行扫描脚本】 开始扫描，数分钟后待扫描完成再点击 【读取扫描数据】 加载扫描后本地缓存的结果
    </div>
    <br>
    <div style="display: flex; justify-content: space-around;">
        <form id="switchForm" method="post" action="<%= luci.dispatcher.build_url('admin', 'modem', 'cellscan', 'switch2') %>">
            <input type="hidden" name="confirm" value="yes">
            <input type="submit" value="执行扫描脚本" class="btn cbi-button cbi-button-remove" onclick="return confirm('你确定吗？')">
        </form>
        <div style="width: 100%;"></div>
        <button onclick="location.reload();" class="btn cbi-button cbi-button-reload">读取扫描数据</button>
    </div>
    <br>
    <p>
        <table id="results-table" class="cbi-section-table">
            <tr>
                <th>网络制式</th>
                <th>运营商 ISP</th>
                <th>频段 BAND</th>
                <th>频点 EARFCN</th>
                <th>小区标识 PCI</th>
                <th>信号强度 RSRP</th>
                <th>接收质量 RSRQ</th>
                <th>子载波间隔 SCS</th>
            </tr>
            <% 
            local controller = require("luci.controller.cellscan")
            local results = controller.parse_results() or {}
            if #results > 0 then
                for _, result in ipairs(results) do
            %>
            <tr>
                <td><%= result.mode %></td>
                <td><%= result.operator %></td>
                <td><%= result.band %></td>
                <td><%= result.earfcn %></td>
                <td><%= result.pci %></td>
                <td><%= result.rsrp %></td>
                <td><%= result.rsrq %></td>
                <td><%= result.scs %></td>
            </tr>
            <% end
            else
            %>
            <tr>
                <td colspan="8">当前未读取到本地缓存结果，可能扫描中......</td>
            </tr>
            <% end %>
        </table>
    </p>
</div>
<%+footer%>

